# eclipse
.cproject
.project
qtcreator/

# cmake stuff
CMakeFiles/
Makefile
CmakeCache.txt
cmake_install.cmake

# inputs
*.prm

# outputs
*eps
*vtk
*vtu
*gnuplot
/build/

# documents
*.pdf

# latex
*.aux
*.log
*.synctex.gz

# executable
project
