# eclipse
.cproject
.project
qtcreator/

# cmake stuff
CMakeFiles/
Makefile
CmakeCache.txt
cmake_install.cmake

# outputs
*eps
*vtk
*gnuplot
/build/

# documents
*.pdf

# latex
*.aux
*.log
*.synctex.gz
